version: '3.8'
services:
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: asd123asd
      MYSQL_DATABASE: db_estudiantes_dev
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always
volumes:
  mysql_data: